// Sezione info del ristorante
.info-section {
    padding-top: 70px;
    height: $showRestaurantCoverHeight;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;

    // background-image: image();
    .info-container {
        display: flex;
        // justify-content: center;

        .restaurant-info {
            backdrop-filter: blur(2px);
            background-color: rgba(255, 255, 255, 0.4);
            color: #2e3333;
            padding: 20px;

            h1 {
                font-size: 20px;
                font-weight: 600;
            }

            .restaurant-icon {
                width: 25px;
                display: inline-flex;
                justify-content: center;
            }
        }
    }
}

.cart-ref {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;

    .cart-ref-container {
        color: rgba(0, 161, 112,1);
        display: flex;
        justify-content: center; align-items: center;
        height: 60px;
        i {
            margin-right: 20px;
        }
    }

}

// Sezione Info dei piatti
.dishes-section {
    min-height: calc(100vh - #{$showRestaurantCoverHeight} - #{$guestHeaderHeight});
    // height: 100vh;
    // padding-top: calc(100vh - #{$guestHeaderHeight} + #{$showRestaurantCoverHeight});
    background-color: #eeeeee;
    padding: 40px 0;

    // Carrello
    // .cart {
    //     display: block;
    //     position: sticky;
    //     top: 0;
    //     width: 100%;
    //     // right: 0;
    //     align-self: flex-start;
    //
    //     background-color: #fff;
    //     border-radius: 0 0 2px 2px;
    //     box-shadow: 0px 22px 24px 0px rgb(46 51 51 / 7%);
    //
    //     .btn-primary-alt {
    //         display: inline-flex;
    //         justify-content: center; align-items: center;
    //         width: 20px; height: 20px;
    //         border-radius: 50%;
    //         padding: 0;
    //         font-weight: bold;
    //         font-size: 10px;
    //         border: 2px solid rgba(0, 161, 112,1);
    //     }
    //
    //     .subtot {
    //         border-top: 1px solid rgba(0,0,0,0.08);
    //         border-bottom: 1px solid rgba(0,0,0,0.08);
    //     }
    //
    //     .buttons-group {
    //         display: flex;
    //
    //         // bottone vai alla cassa
    //         .btn-primary-brand {
    //             flex-grow: 1;
    //             padding: 15px 30px;
    //         }
    //
    //         // bottone svuota carrello
    //         .btn-danger {
    //             width: 56px;
    //             flex-grow: 0;
    //         }
    //     }
    //
    //     // Cart Icon Fixed
    //     .cart-icon {
    //         width: 100px; height: 100px;
    //         position: fixed;
    //         right: 10%; bottom: 20%;
    //         z-index: 10;
    //         cursor: pointer;
    //         display: flex;
    //         justify-content: center; align-items: center;
    //         background-color: #fff;
    //         color: rgba(0, 161, 112,1);
    //         border-radius: 50%;
    //         box-shadow: 0px 22px 24px 0px rgb(0 0 0 / 8%);
    //     }
    //
    // } // END Cart

    .dish-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between; align-items: center;
        background-color: #fff;
        color: #828585;
        border-left: 4px solid transparent;
        &.addedToCart {
            border-left: 5px solid rgba(0, 161, 112,1);
        }
        &:hover {
            box-shadow: 0px 22px 24px 0px rgb(0 0 0 / 8%);
        }

        h5 {
            color: $textPr;
        }

        .dish-info {

            .info {
                h5 {
                    display: inline-block;
                }

                i {
                    color: rgba(0, 161, 112,1);
                    cursor: pointer;
                }
            }

            .quantity{
                // .btn-primary-alt{
                //     display: inline-flex;
                //     justify-content: center; align-items: center;
                //     width: 20px; height: 20px;
                //     border-radius: 50%;
                //     padding: 0;
                //     font-weight: bold;
                //     font-size: 10px;
                //     border: 2px solid rgba(0, 161, 112,1);
                // }

            }

        }
        .dish-img {
            width: 100px; height: 100px;

            img {
                width: 100%; height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

// Dish selected
.selected-dish-info {
    position: fixed;
    top: 0; bottom: 0;
    right: 0; left: 0;
    background-color: rgba(0,0,0,0.2);

    .card-dish-selected {
        width: 90%;
        max-height: 80%;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        backdrop-filter: blur(1px);
        z-index: 10;

        background-color: #fff;
        box-shadow: 0px 22px 24px 0px rgb(0 0 0 / 8%);
        border-radius: 3px;

        .header {
            width: 100%; height: 40px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
            display: flex;
            justify-content: center; align-items: center;

            .close-dish-info {
                position: absolute;
                top: 20px; right: 40px;
                transform: translateY(-50%);
                cursor: pointer;
                color: rgba(0, 161, 112,1);
            }
        }

        .body {
            font-size: 14px;

            .dish-img {
                height: 200px;
                img {
                    width: 100%; height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .dish-description {
                height: 60%; max-height: 200px;
                overflow-y: auto;
            }
        }
    }
}

// Media Query
@media screen and (min-width: 768px) {
    // Sezione Info dei piatti
    .dishes-section {

    }

    // Dish selected
    .selected-dish-info {

        .body {
            .dish-description {
                max-height: 400px;
            }
        }

        .card-dish-selected {
            width: 60%; max-width: 600px;
        }
    }

}
@media screen and (min-width: 992px) {

    .info-section {

        .info-container {

            .restaurant-info {
                padding: 50px;

                h1 {
                    font-size: 40px;
                }
            }
        }
    }

}
