#welcome-blade{

    h2 {
        margin: 30px 0;
    }

    #jumbotron {
        padding: 110px 0 40px 0;
        height: 50vh;
        color: $textTitlePr;
        background-image: url('../images/welcome-page/jumbo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        h1 {
            color: white;
            padding: 20px;
            display: inline-block;
            border-radius: 0 20px 0 20px;
            background-color: rgba(1, 1, 1, 0.7);
        }

        // Messaggio di avvenuto ordine
        #order-success-message{
            border-radius: 0 20px 0 20px;
            opacity: 0.8;
        }

    }


    .main {
        background-color: rgba(155, 183, 212, 0.2);
    }

    // categorie
    #category-container {
        position: relative;

        .category-container {
            overflow-x: hidden;
            margin-bottom: 10px;

            // Category Card
            .category-card {
                box-sizing: border-box;
                min-width: 120px;
                max-height: 100px;
                color: #fff;
                text-shadow: 0 1px 4px rgb(0 0 0 / 8%);
                border-radius: 0 20px 0 20px;
                background-color:rgba(0, 161, 112,1);// #00a170
                cursor: pointer;
                overflow: hidden;
                transition: all 0.2s;


                .category-image{
                    width:100%;
                    height:70%;
                    padding: 10px;
                    text-align: center;

                    img{
                        height: 100%;
                    }
                }

                .category-title{
                    background-color: rgba(1,1,1,0.4);
                    height: 30%;
                    text-align: center;
                    padding: 4px;
                    transition: all 0.3s;

                    span{
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
                //
                // &:hover {
                //     transform: scale(0.9);
                // }

                &:active {
                    transform: scale(0.8);
                }


                &.selected{
                    .category-title{
                        color: #121212;
                        background-color: rgba(255,165,0, 0.9);
                    }
                }

            }
        }

        .category-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            font-size: 20px;

            top: 50%;
            transform: translateY(-50%);
            padding: 0 7px;
            cursor: pointer;

            background: #fff;
            color: $backgroundBrandPr;
            border: 1px solid rgba(0,0,0,.04);
            border-radius: 50%;
            -webkit-box-shadow: 0 1px 4px rgb(0 0 0 / 8%);
            box-shadow: 0 1px 4px rgb(0 0 0 / 8%);

            &:hover {
                box-shadow: 0 6px 20px rgb(0 0 0 / 8%);
            }
        }

    }

    .clear-categories{
        border-radius: 0 20px 0 20px;
        color: white;
        background-color: $red;
        transition: all 0.2s;

        &:hover{
            background-color: darkred;
        }

        &:active {
            transform: scale(0.9);
        }
    }

    // ristoranti
    #restaurant-container {        

        .flex-conditions {
            // justify-content: space-around;
        }

        .restaurant-card.card{
            margin: 15px;
            width: calc(33% - 30px);
            max-width: 350px;
            box-shadow: 0 4px 4px rgb(0 0 0 / 8%), 0 0 0 1px rgb(0 0 0 / 4%);
            background-color: transparent;
            overflow: hidden;
            border-radius: 0 20px 0 20px;
            transition: all 0.3s;

            // parte superiore: img
            .cover-container{
                height: 200px;

                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .card-body{

                .restaurant-label{
                    padding: 10px;
                    background-color:rgba(230,165,11,0.5);
                    color: #222;
                    border-radius: 0 10px 0 10px;
                }

            }

            &:hover {
                transform: scale(1.1);
            }

            // titolo
            .card-title {
                font-size: 19px;
                line-height: 19px;
                font-weight: 600;
            }
        }
    }
}
