#welcome-blade{

    h2 {

        margin: 30px 0;
    }

    #jumbotron {
        padding: 40px 0;
        // background-color: $backgroundBrandPr;
        // background-image: linear-gradient($backgroundBrandPr, white );
        height: 40vh;
        color: $textTitlePr;
        background-image: url('../imgs/foods.png'), linear-gradient($backgroundBrandPr, white );
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        h1 {
            color: white;
        }
        }

    .main {
        background-color: #fff;
    }

    // categorie
    #category-container {
        position: relative;

        .category-container {
            overflow-x: hidden;
            margin-bottom: 10px;

            // Category Card
            .card-size {
                box-sizing: border-box;
                min-width: 180px;
                min-height: 90px;
                display: flex;
                align-items: flex-end;
                color: #fff;
                text-shadow: 0 1px 4px rgb(0 0 0 / 8%);
                background-color: $backgroundBrandPr;
                border-radius: 4px;
                background-size: cover;
                // background: -webkit-gradient(linear,left top,left bottom,color-stop(50%,transparent),to(rgba(0,0,0,.16)));
                // background: linear-gradient(180deg, transparent 50%,rgba(0,0,0,.16));
                font-weight: 700;
                font-size: 16px;
                cursor: pointer;
                span{
                    background-color: rgba(1,1,1,0.4);
                    padding: 3px;
                    border-radius: 5px;
                }

                &.selected{
                    span{
                        color: #121212;
                        background-color: rgba(255,165,0, 0.9);
                    }

                }
            }
            #Italiano {
                background-image: url('https://co-restaurants.roocdn.com/images/24e31bf6996eda7c898addda4291450f982b43c9/shortcut/pasta.png');
            }
            #Giapponese {
                background-image: url('https://co-restaurants.roocdn.com/images/24e31bf6996eda7c898addda4291450f982b43c9/shortcut/sushi-1.png');
            }
            #Cinese {
                background-image: url('https://rs-menus-api.roocdn.com/images/c4d646bb-c071-441a-afa4-e625935f32d1/image.jpeg');
            }
            #Indiano {
                background-image: url('https://f.roocdn.com/images/menus/212763/header-image.jpg');
            }
            #Fusion {
                background-image: url('https://rs-menus-api.roocdn.com/images/3dbd97e3-8ce9-4c31-9a65-75dcf1cfa368/image.jpeg');
            }
            #Hamburger {
                background-image: url('https://co-restaurants.roocdn.com/images/24e31bf6996eda7c898addda4291450f982b43c9/shortcut/burgers-1.png');
            }
            #Pizza {
                background-image: url('https://co-restaurants.roocdn.com/images/24e31bf6996eda7c898addda4291450f982b43c9/shortcut/pizza.png');
            }
            #Kebab {
                background-image: url('https://co-restaurants.roocdn.com/images/24e31bf6996eda7c898addda4291450f982b43c9/shortcut/kebab.png');
            }
            #Greco {
                background-image: url('https://rs-menus-api.roocdn.com/images/4828a08c-2388-4f11-ac20-8c0362ea1c6e/image.jpeg');
            }
            #Thailandese {
                background-image: url('https://f.roocdn.com/images/menus/54856/header-image.jpg');
            }
        }

        .category-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            // width: 56px;
            // height: 56px;
            position: absolute;
            font-size: 20px;

            top: 50%;
            transform: translateY(-50%);
            padding: 0 7px;
            cursor: pointer;

            background: #fff;
            color: $backgroundBrandPr;
            border: 1px solid rgba(0,0,0,.04);
            border-radius: 50%;
            -webkit-box-shadow: 0 1px 4px rgb(0 0 0 / 8%);
            box-shadow: 0 1px 4px rgb(0 0 0 / 8%);

            &:hover {
                box-shadow: 0 6px 20px rgb(0 0 0 / 8%);
            }
        }

        // .left {
        //     left: -20px;
        // }
        //
        // .right {
        //     right: -20px;
        // }
    }

    // ristoranti
    #restaurant-container {
        .flex-conditions {
            justify-content: space-between;
        }

        .restaurant-card{
            width: 350px;
            // min-width: 350px;
            box-shadow: 0 1px 4px rgb(0 0 0 / 8%), 0 0 0 1px rgb(0 0 0 / 4%);
            margin: 1px 1px 5px;
            border-radius: 3px;
            background-color: transparent;
            overflow: hidden;

            // parte superiore: img
            .cover-container{
                height: 200px;
                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }

            }
            &:hover {
                transform: scale(1.1);
                transition: all 0.3s;
            }
            // titolo
            .card-title {
                font-size: 19px;
                line-height: 19px;
                font-weight: 600;
            }
        }
    }
}
