// .cart {
//     display: block;
//     // position: absolute;
//     width: 100%;
//     // right: 0;
//     align-self: flex-start;
//
//     background-color: #fff;
//     border-radius: 0 0 2px 2px;
//     box-shadow: 0px 22px 24px 0px rgb(46 51 51 / 7%);
//
//     .btn-primary-alt {
//         display: inline-flex;
//         justify-content: center; align-items: center;
//         width: 20px; height: 20px;
//         border-radius: 50%;
//         padding: 0;
//         font-weight: bold;
//         font-size: 10px;
//         border: 2px solid #00ccbc;
//     }
//
//     .subtot {
//         border-top: 1px solid rgba(0,0,0,0.08);
//         border-bottom: 1px solid rgba(0,0,0,0.08);
//     }
//
//     .buttons-group {
//         display: flex;
//
//         // bottone vai alla cassa
//         .btn-primary-brand {
//             flex-grow: 1;
//             padding: 15px 30px;
//         }
//
//         // bottone svuota carrello
//         .btn-danger {
//             width: 56px;
//             flex-grow: 0;
//         }
//     }
//
//     // Cart Icon Fixed
//     .cart-icon {
//         width: 100px; height: 100px;
//         position: fixed;
//         right: 10%; bottom: 20%;
//         z-index: 10;
//         cursor: pointer;
//         display: flex;
//         justify-content: center; align-items: center;
//         background-color: #fff;
//         color: #00ccbc;
//         border-radius: 50%;
//         box-shadow: 0px 22px 24px 0px rgb(0 0 0 / 8%);
//     }
//
// } // END Cart
