.navbar {
    background: linear-gradient(
        90deg,
        rgba(238, 83, 64, 1) 35%,
        rgba(238, 83, 64, 0.76234243697479) 100%
    );
}

.py-4 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.links {
    font-size: 18px;
    a {
        color: white;
    }
}
