@media all and (max-width: 768px) {
    #welcome-blade {
        #restaurant-container {
            .flex-conditions {
                justify-content: center;
            }
        }
        #category-container {
            .category-container{
                .card-size {
                    min-width: 100px;
                    min-height: 30px;
                }
            }
        }

    }

    .footer-container-top {
        width: 100%;
        .foot-flex {
            justify-content: center;
        }
    }
}

@media all and (max-width: 992px) {
    #welcome-blade {
        #jumbotron{
            height: 30vh;
            h1{
                font-size: 25px;
                padding: 10px;
            }
        }
    }
}
