

.title {
    font-size: 50px;
}

.info-section {
    // background-color: #71dbd4;

    // background-image: image();
    .info-container {
        display: flex;
        // justify-content: center;

        .restaurant-info {
            backdrop-filter: blur(10px);
            border-radius: 20px;

            h1 {
                font-size: 60px;
                font-weight: 600;
            }
            h5 {
                font-size: 16px;
            }
        }
    }




}

.dishes-section {
    background-color: #eeeeee;

    // Carrello
    .cart {
        display: block;
        position: absolute;
        width: 100%;
        right: 0;
        background-color: #fff;
        border-radius: 0 0 2px 2px;
        box-shadow: 0px 22px 24px 0px rgb(46 51 51 / 7%);
        
        .btn-primary-brand {
            display: block;
            padding: 15px 30px;
        }
    }
}

.menu-title {
    padding-top: 20px;
    h1 {
        font-size: 40px;
        font-weight: 600;
    }
}

.info-section {
    padding: 50px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

.dishes-section {

    .card {
        border-radius: 20px;
    }
}

.btn-primary {
    background-color: #bd472a;
    border-color: #bd472a;
}

.card-img-top-show {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
