.title {
    font-size: 50px;
    color: red;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.info-container-left {
    h1 {
        font-size: 50px;
    }
}

.dish-container {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.info-section {
    padding: 20px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

.dishes-section {
    background-color: #eeeeee;
}

footer {
    padding: 20px 0 20px 0;
    background-color: #ee5340;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
}
