.title {
    font-size: 50px;
    color: red;
}

.container {
    border: 2px solid black;
}

.info-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.dish-container {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.info-container-right {
}
