// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// spacing
$spacing-unit : 10px;
$gutter: 15px;

// color
$brandPr: #101010;
$textPr: #ffffff;
$textPrAlt: #989898;

$prInverse: #f1f1f1;
$textPrInverse: #000000;

$btnPr: #009cff;
$textBtnPr: #ffffff;

// html
$headerHeight: 50px;
$btmFooterHeight: 60px; // min height footer btm
$mainNavHeight: 55px; // nav-bar after jumbotron


// Body
$body-bg: #f8fafc;
