// Typography
$font-family: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// spacing
$spacing-unit : 10px;
$gutter: 15px;

// html
$dashboardHeaderHeight: 60px;

// color
$brandPr: #101010;
$textPr: #ffffff;
$textPrAlt: #989898;

$prInverse: #f1f1f1;
$textPrInverse: #000000;

$btnPr: #009cff;
$textBtnPr: #ffffff;




// Body
$body-bg: #f8fafc;
