// Typography
$font-family: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// spacing
$spacing-unit : 10px;
$gutter: 15px;

// HTML DASHBOARD
$dashboardHeaderHeight: 70px;

// HTML GUEST
$guestHeaderHeight: 70px;
$showRestaurantCoverHeight: 400px;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Proj color
$backgroundBrandPr: #00CCBC;

$textTitlePr: #440063;
$textPr: #2E3333;

// Body
$body-bg: #f8fafc;
