#main-dashboard-wrapper {
    // VIEW dishes.index

    .row {

        // main part -> content
        main {

            .table-container{

                width: 70%;
                margin: auto;

                // -> tabella con tutti i piatti
                .table {
                    .btn-column {
                        min-width: 320px;
                    }
                }
            }

        } // end main
    }

}
