#main-dashboard-wrapper {

    .row {

        // aside left nav-bar
        #sidebarMenu {
            height: calc(100vh - #{$dashboardHeaderHeight});
            overflow-y: auto;

            ul.nav {
                li.nav-item {
                    min-height: 50px;
                    i {
                        display: inline-block;
                        width: 40px;
                        text-align: center;
                    }
                }
            }
        }

        // main part -> content
        main {
            height: calc(100vh - #{$dashboardHeaderHeight});
            overflow-y: auto;
        } // end main
    }

}
